
@media print {
  *,
  *::before,
  *::after {
    text-shadow: none !important;
    box-shadow: none !important;
  }
  a,
  a:visited {
    text-decoration: underline;
  }
  abbr[title]::after {
    content: " (" attr(title) ")";
  }
  pre {
    white-space: pre-wrap !important;
  }
  pre,
  blockquote {
    border: 1px solid #999;
    page-break-inside: avoid;
  }
  thead {
    display: table-header-group;
  }
  tr,
  img {
    page-break-inside: avoid;
  }
  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3;
  }
  h2,
  h3 {
    page-break-after: avoid;
  }
  .navbar {
    display: none;
  }
  .badge {
    border: 1px solid #000;
  }
  .table {
    border-collapse: collapse !important;
  }
  .table td,
  .table th {
    background-color: #fff !important;
  }
  .table-bordered th,
  .table-bordered td {
    border: 1px solid #ddd !important;
  }
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  font-family: 'Rambla', sans-serif;
  line-height: 1.15;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -ms-overflow-style: scrollbar;
  -webkit-tap-highlight-color: transparent;
}


@-ms-viewport {
  width: device-width;
}

/**/
.body {
  background-color:#blue;
}

.button_wrap{
  margin:0 auto;
  border: 1px solid rgba(0,0,0,0.1);
  background-color: rgba(0,0,0,0.1);
  text-align: center;
  border-radius: 5px;
}



#lskysdlogo {
   display: block;
    margin-left: auto;
    margin-right: auto ;
}



/* old */

.button_container {
  width: 600px; 
  margin-left: auto;
  margin-right: auto;
  border: 1px solid rgba(0,0,0,0.1);
  background-color: rgba(0,0,0,0.1);
  text-align: center;
}

.button {  
  width: 95%;
  height: 100px;
  background-color: rgba(0,0,0,0.1);
  border-radius: 5px;
  margin: 10px;
  display: table;
  vertical-align: middle;
  text-align: center;  
}

.button a {
  text-decoration: none;
  color: black;
  font-size: 25pt;
  display: table-cell;
  vertical-align: middle;
}

.outer_container {
    display: table;
    position: absolute;
    height: 100%;
    width: 100%;  
}

.inner_container {
  display: table-cell;
  vertical-align: middle;
}
